In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [3]:
df = pd.read_csv('../data/honeyproduction.csv')
df.head(5)

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998

In [10]:
df.groupby('state').count()

       numcol  yieldpercol  totalprod  stocks  priceperlb  prodvalue  year
state
AL         15           15         15      15          15         15    15
AR         15           15         15      15          15         15    15
AZ         15           15         15      15          15         15    15
CA         15           15         15      15          15         15    15
CO         15           15         15      15          15         15    15
FL         15           15         15      15          15         15    15
GA         15           15         15      15          15         15    15
HI         15           15         15      15          15         15    15
IA         15           15         15      15          15         15    15
ID         15           15         15      15          15         15    15
IL         15           15         15      15          15         15    15
IN         15           15         15      15          15         15    15
KS         15           15         15      15          15         15    15
KY         15           15         15      15          15         15    15
LA         15           15         15      15          15         15    15
MD          6            6          6       6           6          6     6
ME         15           15         15      15          15         15    15
MI         15           15         15      15          15         15    15
MN         15           15         15      15          15         15    15
MO         15           15         15      15          15         15    15
MS         15           15         15      15          15         15    15
MT         15           15         15      15          15         15    15
NC         15           15         15      15          15         15    15
ND         15           15         15      15          15         15    15
NE         15           15         15      15          15         15    15
NJ         15           15         15      15          15         15    15
NM         15           15         15      15          15         15    15
NV         11           11         11      11          11         11    11
NY         15           15         15      15          15         15    15
OH         15           15         15      15          15         15    15
OK          6            6          6       6           6          6     6
OR         15           15         15      15          15         15    15
PA         15           15         15      15          15         15    15
SC          3            3          3       3           3          3     3
SD         15           15         15      15          15         15    15
TN         15           15         15      15          15         15    15
TX         15           15         15      15          15         15    15
UT         15           15         15      15          15         15    15
VA         15           15         15      15          15         15    15
VT         15           15         15      15          15         15    15
WA         15           15         15      15          15         15    15
WI         15           15         15      15          15         15    15
WV         15           15         15      15          15         15    15
WY         15           15         15      15          15         15    15

In [118]:
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","West Virginia","Virginia","Washington","Wisconsin","Wyoming"]
abbrev = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "WV", "VA", "WA", "WI", "WY"]
print(len(states), len(abbrev))

50 50

In [119]:
thirt = open('../data/2013.txt', 'r').read()

punc = ['.', ':', ',']
for cha in punc:
    thirt = thirt.replace(cha, '')
for state, abb in zip(states, abbrev):
    thirt = thirt.replace(state, abb)
#     thirt = thirt.replace('West VA', 'WV')
    
thirt = thirt.split('\n')

for idx in range(len(thirt)):
    thirt[idx] = thirt[idx].split()
#     if thirt[idx] == []:
#         del thirt[idx]
thirt.pop()

for idx in range(len(thirt)):
    thirt[idx][1] = int(thirt[idx][1]) * 1000
    thirt[idx][2] = int(thirt[idx][2])
    thirt[idx][3] = int(thirt[idx][3]) * 1000
    thirt[idx][4] = int(thirt[idx][4]) * 1000
    thirt[idx][5] = int(thirt[idx][5]) / 100
    thirt[idx][6] = int(thirt[idx][6]) * 1000
print(thirt)

[['AZ', 29000, 36, 1044000, 251000, 1.89, 1973000], ['AR', 22000, 60, 1320000, 66000, 2.01, 2653000], ['CA', 330000, 33, 10890000, 2505000, 2.1, 22869000], ['CO', 26000, 43, 1118000, 324000, 2.1, 2348000], ['FL', 220000, 61, 13420000, 1074000, 2.04, 27377000], ['GA', 67000, 50, 3350000, 637000, 2.24, 7504000], ['HI', 13000, 83, 1079000, 65000, 1.98, 2136000], ['ID', 83000, 32, 2656000, 1036000, 2.01, 5339000], ['IL', 7000, 48, 336000, 101000, 4.15, 1394000], ['IN', 6000, 47, 282000, 82000, 2.67, 753000], ['IA', 39000, 48, 1872000, 1217000, 2.54, 4755000], ['KS', 6000, 46, 276000, 39000, 2.55, 704000], ['KY', 3000, 41, 123000, 17000, 3.02, 371000], ['LA', 50000, 98, 4900000, 490000, 1.83, 8967000], ['ME', 7000, 43, 301000, 27000, 3.03, 912000], ['MI', 85000, 55, 4675000, 982000, 2.13, 9958000], ['MN', 130000, 58, 7540000, 1282000, 1.97, 14854000], ['MS', 17000, 116, 1972000, 39000, 1.85, 3648000], ['MO', 10000, 47, 470000, 85000, 2.53, 1189000], ['MT', 159000, 94, 14946000, 5231000, 2.08, 31088000], ['NE', 46000, 60, 2760000, 1628000, 2.06, 5686000], ['NJ', 11000, 44, 484000, 34000, 3.89, 1883000], ['NY', 55000, 48, 2640000, 1030000, 1.99, 5254000], ['NC', 10000, 38, 380000, 84000, 3.63, 1379000], ['ND', 480000, 69, 33120000, 6955000, 2.04, 67565000], ['OH', 17000, 45, 765000, 390000, 3.21, 2456000], ['OR', 62000, 35, 2170000, 456000, 2.29, 4969000], ['PA', 13000, 45, 585000, 257000, 2.98, 1743000], ['SD', 265000, 56, 14840000, 6381000, 2.06, 30570000], ['TN', 7000, 45, 315000, 63000, 3.58, 1128000], ['TX', 106000, 59, 6254000, 1689000, 2.12, 13258000], ['UT', 30000, 34, 1020000, 92000, 2.07, 2111000], ['VT', 3000, 51, 153000, 46000, 3.31, 506000], ['VA', 5000, 35, 175000, 42000, 4.23, 740000], ['WA', 69000, 39, 2691000, 1023000, 2.21, 5947000], ['WV', 6000, 46, 276000, 83000, 3.56, 983000], ['WI', 59000, 60, 3540000, 1558000, 2.31, 8177000], ['WY', 47000, 66, 3102000, 558000, 2.11, 6545000]]

In [124]:
file = '../data/2013.txt'
year = open(file, 'r').read()

punc = ['.', ':', ',']
for cha in punc:
    year = year.replace(cha, '')
for state, abb in zip(states, abbrev):
    year = year.replace(state, abb)
    
year = year.split('\n')

for idx in range(len(year)):
    year[idx] = year[idx].split()
    
    #Had a consistent empty list in the final index after splitting
year.pop()

for idx in range(len(year)):
    year[idx][1] = int(year[idx][1]) * 1000
    year[idx][2] = int(year[idx][2])
    year[idx][3] = int(year[idx][3]) * 1000
    year[idx][4] = int(year[idx][4]) * 1000
    year[idx][5] = int(year[idx][5]) / 100
    year[idx][6] = int(year[idx][6]) * 1000

year

[['AL', 7000, 52, 364000, 55000, 2.81, 1023000],
 ['AZ', 29000, 36, 1044000, 251000, 1.89, 1973000],
 ['AR', 22000, 60, 1320000, 66000, 2.01, 2653000],
 ['CA', 330000, 33, 10890000, 2505000, 2.1, 22869000],
 ['CO', 26000, 43, 1118000, 324000, 2.1, 2348000],
 ['FL', 220000, 61, 13420000, 1074000, 2.04, 27377000],
 ['GA', 67000, 50, 3350000, 637000, 2.24, 7504000],
 ['HI', 13000, 83, 1079000, 65000, 1.98, 2136000],
 ['ID', 83000, 32, 2656000, 1036000, 2.01, 5339000],
 ['IL', 7000, 48, 336000, 101000, 4.15, 1394000],
 ['IN', 6000, 47, 282000, 82000, 2.67, 753000],
 ['IA', 39000, 48, 1872000, 1217000, 2.54, 4755000],
 ['KS', 6000, 46, 276000, 39000, 2.55, 704000],
 ['KY', 3000, 41, 123000, 17000, 3.02, 371000],
 ['LA', 50000, 98, 4900000, 490000, 1.83, 8967000],
 ['ME', 7000, 43, 301000, 27000, 3.03, 912000],
 ['MI', 85000, 55, 4675000, 982000, 2.13, 9958000],
 ['MN', 130000, 58, 7540000, 1282000, 1.97, 14854000],
 ['MS', 17000, 116, 1972000, 39000, 1.85, 3648000],
 ['MO', 10000, 47, 470000, 85000, 2.53, 1189000],
 ['MT', 159000, 94, 14946000, 5231000, 2.08, 31088000],
 ['NE', 46000, 60, 2760000, 1628000, 2.06, 5686000],
 ['NJ', 11000, 44, 484000, 34000, 3.89, 1883000],
 ['NY', 55000, 48, 2640000, 1030000, 1.99, 5254000],
 ['NC', 10000, 38, 380000, 84000, 3.63, 1379000],
 ['ND', 480000, 69, 33120000, 6955000, 2.04, 67565000],
 ['OH', 17000, 45, 765000, 390000, 3.21, 2456000],
 ['OR', 62000, 35, 2170000, 456000, 2.29, 4969000],
 ['PA', 13000, 45, 585000, 257000, 2.98, 1743000],
 ['SD', 265000, 56, 14840000, 6381000, 2.06, 30570000],
 ['TN', 7000, 45, 315000, 63000, 3.58, 1128000],
 ['TX', 106000, 59, 6254000, 1689000, 2.12, 13258000],
 ['UT', 30000, 34, 1020000, 92000, 2.07, 2111000],
 ['VT', 3000, 51, 153000, 46000, 3.31, 506000],
 ['VA', 5000, 35, 175000, 42000, 4.23, 740000],
 ['WA', 69000, 39, 2691000, 1023000, 2.21, 5947000],
 ['WV', 6000, 46, 276000, 83000, 3.56, 983000],
 ['WI', 59000, 60, 3540000, 1558000, 2.31, 8177000],
 ['WY', 47000, 66, 3102000, 558000, 2.11, 6545000]]

In [130]:
full = pd.read_csv('../data/full.csv')